@import url("https://fonts.cdnfonts.com/css/porter-sans-block");

* {
  padding: 0 auto;
}
body {
  background-color: #faf6f5;
}
#navigationBar {
  position: absolute;
  display: flex;
  width: 100%; /* Full width */
  max-width: 1200px; /* Maximum width */
  height: 70px;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  background: #fcfaf9;
  box-shadow: 0px 10px 3.5px rgba(225, 221, 219, 0.41);
  justify-content: space-between;
  align-items: center;
}

#navigationBar li {
  list-style: none;
  margin-right: 20px;
}

.nav-items {
  display: flex;
  margin-right: 20px;
}

.mainContent {
  position: -webkit-sticky;
  width: 1200;
  height: 676;
  background-color: #df0000;
  box-shadow: 4px -6px 4px rgba(0, 0, 0, 0.25);
}
.right-content img {
  position: absolute;
  width: 567px;
  height: 600px;
  left: 95px;
  top: 110px;
}

.right-content p {
  position: absolute;
  width: 342px;
  height: 336px;
  left: 242px;
  top: 248px;
  font-family: "Porter Sans Block", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.77em;
  color: #d2cac9;
}

.left-content img {
  position: absolute;
  width: 567px;
  height: 600px;
  left: 677px;
  top: 110px;
}
.left-content p {
  position: absolute;
  width: 412px;
  height: 390px;
  left: 724px;
  top: 224px;
  font-family: "Porter Sans Block", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #a12c6d;
}
