@import url("https://fonts.cdnfonts.com/css/porter-sans-block");

* {
  padding: 0 auto;
}
body {
  background-color: #faf6f5;
}
#navigationBar {
  position: absolute;
  display: flex;
  width: 100%; /* Full width */
  max-width: 1200px; /* Maximum width */
  height: 70px;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  background: #fcfaf9;
  box-shadow: 0px 10px 3.5px rgba(225, 221, 219, 0.41);
  justify-content: space-between;
  align-items: center;
}

#navigationBar li {
  list-style: none;
  margin-right: 20px;
}

.nav-items {
  display: flex;
  margin-right: 20px;
}

.mainContent {
  position:absolute;
  width: 84vw;
  height: 66vh;
  left: 6vw;
  top: 10vh;
  background-color: rgba(202, 201, 201, 0.02);
  box-shadow: 4px -6px 4px rgba(0, 0, 0, 0.25);
}
.right-content img {
  position: absolute;
  width: 40vw;
  height: 58.6vh;
  left: 3vw;
  top: 10.8vh;
}
.right-content header {
  position:absolute;
  width: 14vw;
  height: 4vh;
  left: 22vw;
  top: 22vh;
  font-family: 'Porter Sans Block';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
letter-spacing: 0.77em;

color: #FFFFFF;
}
.right-content p {
  position: absolute;
  width: 24vw;
  height: 34vh;
  left: 18vw;
  top: 24vh;
  font-family: "Porter Sans Block", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.77em;
  overflow: scroll;
  color: #d2cac9;
}

.left-content img {
  position: absolute;
  width: 39.4vw;
  height: 58.6vh;
  left: 44vw;
  top: 10.8vh;
}
.left-content p {
  position: absolute;
  width: 28.8vw;
  height: 38vh;
  left: 50.4vw;
  top: 22vh;
  font-family: "Porter Sans Block", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #a12c6d;
  overflow:scroll;
}
