@import url("https://fonts.cdnfonts.com/css/porter-sans-block");
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P:regular");

* {
  padding: 0 ;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #000;
  font-family:  "Press Start 2P",sans-serif;
margin: auto;
  width: 80%;
  height: 100vh;
  padding-top: 20px;

}
.main-and-content {
  flex-grow: 1;
}

p,a,li,label,input ,span{
 color: rgba(25, 225, 8, 1);
}

header{
  color: rgba(25, 225, 8, 1);
  text-decoration: underline black;
  padding: 10px;
}

.navigationBar {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  background-color: #000;

  box-shadow: 0px 4px 4px rgba(20, 255, 0, 0.85);
  
}

.logo {
  float: left;
  font-size: 24px;
  color: rgba(25, 225, 8, 1);
  text-decoration: none;
  
}

.nav-items {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.nav-items li {
  list-style: none;
}
.nav-items a{
  text-decoration: none;
}


.mainContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70vh;
  gap: 10px;
  margin :20px;                 
  background-color: rgba(202, 201, 201, 0.02);
  box-shadow: 0px 4px 4px rgba(78, 207, 27, 0.3);
}

 
.right-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: clip;
}

.left-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  
  background-image: url("Images/lorenzo-herrera-p0j-mE6mGo4-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
.right-content p{
  background-color: rgba(0, 0, 0, 0.5);;
}
.right-content,
.left-content p {  /* Style the paragraph within left-content */
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Porter Sans Block", sans-serif;
  text-align: center;
}

.contact-me {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding: 20px;
  box-shadow:0px 4px 4px rgba(78, 207, 27, 0.8);
}

.contact-me .form-header {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  gap: 20px;
  color: rgba(25, 225, 8, 1);
}
.contact-form {
  display: flex;
  flex-direction: row ;
  justify-content: center;
  align-self: center;
  overflow: hidden;
  gap: 10px;
  padding: 20px;
  background-color: rgba(70, 160, 75, 0.02);

} 
.contact-form label {
  font-size: 20px;
  color: rgba(25, 225, 8, 1);
}

.contact-form input {
  background-color: rgba(70, 160, 75, 0.02);
  color: rgba(25, 225, 8, 1);

  box-shadow: 4px -6px 4px rgba(78, 207, 27, 0.466);
}
.btn {
  width: 55px;
  height: 25px;
  background-color: rgba(70, 160, 75, 0.02);
  color: rgba(25, 225, 8, 1);
  box-shadow: 2px -4px 2px rgba(78, 207, 27, 0.466);
}


.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgba(202, 201, 201, 0.02);
  box-shadow: 0px -11px 4px rgba(78, 207, 27, 0.3);
}



.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  margin: auto;
  padding: 20px;
  background-color: rgba(202, 201, 201, 0.02);
  box-shadow: 0px 4px 4px rgba(78, 207, 27, 0.3);
}




@media (max-width: 1110px){
  .mainContent {
      grid-template-columns: 1fr; /* Single column on smaller screens */
  }
  .navigationBar{
    flex-direction: column;
    align-items:  centre;
  
  }
  .nav-items{
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .logo{
    font-size: 18px;
    padding-bottom: 10px;
  }
  .contact-me{
  flex-direction: column;
  align-items: center;

  }

  .form-header{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size:20px;
    width: 80%;
  }

  .contact-form {
    flex-direction: column;
    align-items: center;
  font-size: 12px;
  width: 100%;
  
  }
 
  .footer { 
    flex-direction: column;
    align-items: center;
    width: 100%;
  
  }
  .copyright {
    text-align: center;
  }
  }
